/External
/EclipseStudio/*.suo
/EclipseStudio/*.ncb
/EclipseStudio/Debug
/EclipseStudio/Final
/Eternity/Final
/EclipseStudio/Release
/Eternity/Release
/Eternity/Release_NoCrashRpt
/Eternity/Debug_NoCrashRpt
/GameEngine/Final
/GameEngine/Release
/RSUpdate/Release
/RSUpdate/Debug
/BrowserLauncher
/Tools
