/External
/EclipseStudio/*.suo
/EclipseStudio/*.ncb
/EclipseStudio/Debug
/EclipseStudio/Final
/Eternity/Final
/EclipseStudio/Release
/Eternity/Release
/Eternity/Release_NoCrashRpt
/Eternity/Debug_NoCrashRpt
/GameEngine/Final
/GameEngine/Release
/RSUpdate/Release
/RSUpdate/Debug
/BrowserLauncher
/Tools
/server/Scripts/WOIntranet-ASP.NET
/server/Scripts/WOFirstDataPayment-ASP.NET
/server/Scripts/WOAmazon-ASP.NET
/server/Scripts/signup.thewarinc.com
/server/Scripts/mssql_db1_svn
/server/Scripts/mssql_db1_migrate
/server/Scripts/mssql
/server/Scripts/intranet.thewarinc.com
/server/Scripts/gameid
/server/Scripts/challenge.thewarinc.com
/server/Scripts/AmazonTester
/server/Scripts/AmazonPoller
/server/Scripts/account
/server/MasterServer/Debug
/server/MasterServer/Release
/server/SupervisorServer/Debug
/server/WO_GameServer/Release
/server/WO_GameServer/Debug
/server/Scripts/WOBackend-ASP.NET/WOBackend-ASP.NET.suo
/server/MasterServer/Release
/server/SupervisorServer/Release
/server/WO_GameServer/Release
/server/SupervisorServer/Release
